branches:
  only:
    - master
    - develop
language: python
python:
 - "3.4"
 - "3.5"
# command to install dependencies
env:
  - DJANGO_VERSION=1.8.5
services:
  - elasticsearch
before_install:
  - sudo service elasticsearch stop
  - curl -O https://download.elastic.co/elasticsearch/elasticsearch/elasticsearch-1.7.3.deb && sudo dpkg -i --force-confnew elasticsearch-1.7.3.deb
  - 'command sudo sed -i "\$apath.repo: [\"/tmp/test_snapshot/\"]" /etc/elasticsearch/elasticsearch.yml'
  - tail /etc/elasticsearch/elasticsearch.yml
  - sudo service elasticsearch restart
install: 
  - pip install -q Django==$DJANGO_VERSION
  - python setup.py -q install
  - pip install -r elastic/requirements.txt || true
  - pip install coveralls
before_script:
  - django-admin startproject elastic_test
  - sed -i "s|INSTALLED_APPS = (|INSTALLED_APPS = ('elastic',|" elastic_test/elastic_test/settings.py
  - 'command echo ''ELASTIC = {"default": { "ELASTIC_URL": "http://127.0.0.1:9200/", "IDX": {"MARKER": {"name": "dbsnp142", "idx_type": {"MARKER": "marker"}}, "DEFAULT": "dbsnp142",},"TEST": "test_django_elastic_tc", "TEST_REPO_DIR": "/tmp/test_snapshot/", "REPOSITORY": "my_backup",}}'' >> elastic_test/elastic_test/settings.py'
  - echo "urlpatterns += [url(r'^search/', include('elastic.urls', namespace='elastic')),]" >> elastic_test/elastic_test/urls.py  
  - sleep 10
  - 'command ps -ef | grep elastic'
# command to run tests
script: 
  - elastic_test/manage.py repository my_backup --dir /tmp/test_snapshot/
  - coverage run --include="*/elastic/*" elastic_test/manage.py test elastic.tests -v3 --noinput
after_success:
  - coveralls
