{% extends "base.html" %}
{% block title %}SEARCH{% endblock %}

{% block header %}
<script type="text/javascript" src="/static/js/results_pagination.js"></script>
<script type='text/javascript'>
$(document).ready(function() {
	var query = {% autoescape off %}{{ query }}.query{% endautoescape %};
	results_pagination.build('pagination', 'result-overview', query, "{{ db }}", {{ size }}, {{ total }});
});
</script>
{% endblock %}

{% block content %}

{% if error %}
	{{ error }}
{% endif %}
<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-8" id="result-overview"></div>
</div>
<div class="row">
	<div class="col-md-4">
	&nbsp;
	<ul class="list-group" id="type-counter">
  		<li class="list-group-item">
    	<span class="badge">{{ total }}</span>
    	All
  		</li>
  		{% for key, type in dbs.items %}
  		   	<li class="list-group-item" id="{{ key }}"><a href="SEARCH_QUERY_LINK">{{ type }}</a><span class='badge'></span></li>
  		{% endfor %}
	</ul>
	</div>
	
	<div class="col-md-8">
		<div id="pagination"></div>
		<div id="results"></div>
	</div>
</div>

{% endblock %}
