{% extends "base.html" %}
{% block title %}SEARCH{% endblock %}

{% block header %}
{% load settings_value %}
<script type='text/javascript'>
$(document).ready(function() {
	var npages = {{ total }} / {{ size }};
	$('#pagination').append('<ul class="pagination" id="search-pagination"></ul>');
	$('#search-pagination').append('<li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>');
	$('#search-pagination').append('<li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>');
	for (i = 2; i < npages+1; i++) {
		$('#search-pagination').append('<li><a href="#">'+i+'</a></li>');
	}
	$('#search-pagination').append('<li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>');
	
	$('#pagination').on( "click", "li", function() {
		updateResults(this);
	});
	updateResults($('.active'));
	
	function updateResults(thisPage){
		var url = 'http://'+window.location.host +
        '/{% settings_value "MARKERDB" %}/' +
        '_search?';
        var page = $( thisPage ).text().match(/[0-9]+/)[0];
        var es_from = (((page-1)*{{ size }}));
        var es_data = JSON.stringify({
				"from" : es_from, "size" : {{ size }},
				"query": {% autoescape off %}{{ query }}.query{% endautoescape %}
				});
        $('.active').removeClass('active');
        $(thisPage).addClass('active');
        $.ajax({
        	url: url,
        	dataType: "json",
        	type: "POST",
        	data: es_data,
        	success: function(json){
        		$('#results').empty();
        		var hits = json.hits.hits;
        		for(var i=0; i<hits.length; i++) {
        			var hit = hits[i]._source;
        			$('#results').append(
					'<ul class="list-group">' +
					'<li class="list-group-item"><a href="/marker/'+hit.ID+'">'+hit.ID+'</a></li>'+
					'<li class="list-group-item">Chromosome: '+hit.SRC+'; Position: '+hit.POS+'; '+
					                        hit.REF+'/'+hit.ALT+'</li>'+
			  		'</ul>');	
        		}
        	}
        });
	}
});
</script>
{% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-8">Showing {{ size }} of {{ total }} hits</div>
</div>
<div class="row">
	<div class="col-md-4">
	&nbsp;
	<ul class="list-group">
  		<li class="list-group-item">
    	<span class="badge">{{ total }}</span>
    	Markers
  		</li>
	</ul>
	</div>
	
	<div class="col-md-8">
		<div id="pagination"></div>
		<div id="results"></div>
	</div>
</div>

{% endblock %}
