# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = 'pcw(yn@$%+#!9tb5cs(cwhw62my4o46+%_hs&af(m(*l0!l#s3'

'''
Database settings
https://docs.djangoproject.com/en/1.7/ref/settings/#databases
'''
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'chado3',
        'TEST_NAME': 'auto_tests',
        'USER': 'tjc29',
        'PASSWORD': 'test123',
        'HOST': '127.0.0.1',
        'PORT': '5432',
    }
}

# Memcached caching
CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.memcached.MemcachedCache',
        'LOCATION': '127.0.0.1:11211',
    }
}

# elastic search engine
ELASTICSEARCH_URL = 'http://127.0.0.1:9200/'
MARKERDB = 'dbsnp142'
GENEDB = 'genename_v1_tmp'
REGIONDB = 'disease_region_grch38'
