{% extends "base.html" %}

{% block title %}Cytobands{% endblock %}

{% block header %}

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="/static/js/bands.js" charset="utf-8"></script>
<script src="/static/js/diseases.js" charset="utf-8"></script>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<link rel="stylesheet" href="http://jqueryui.com/resources/demos/style.css">

<script src="/static/js/qtip/jquery.qtip.min.js" charset="utf-8"></script>
<link rel="stylesheet" href="/static/css/jquery.qtip.min.css ">

<style type="text/css">
div.chr {
    width: 20px;
    height: 12px;  
    background-color: white;
    margin: 0px;
    border: 1px solid;
    border-radius: 3px;
    position:relative;
    z-index: 11;
}

div#chart p {
        margin: 12px 0px 0px;
        font-size:small;
        font-weight: bold;
}

div.band {
    width: 20px;
    height: 10px;  
    background-color: yellow;
    border: none;
    display: inline-block;
    margin: 0px;
    position:absolute;
    top:0;
    right:0;
    opacity: 0.7;
    z-index: 10;
}


div.region {
    width: 20px;
    height: 23px;
    background-color: yellow;
    display: inline-block;
    margin: 0px;
    position:absolute;
    top:0;
    right:0;
    opacity: 0.55;
    z-index: 20;
}

#diseases { margin-top: 2em; }

</style>
  
<script>
$(document).ready(function() {
	var maxlen = 0;
	var residues = [];
	var idx = 0;

	{% for f in srcfeatures %}
		residues.push({ uniquename:"{{ f.uniquename }}", seqlen:{{ f.seqlen }} });
		if(maxlen < {{ f.seqlen }}) {
			maxlen = {{ f.seqlen }};
		}
		idx++;
	{% endfor %}

	cytobands.drawChromosome(residues, maxlen, "chart");

  	{% for f in srcfeatures %}
  		var chr = "{{ f.uniquename }}";
  		cytobands.addBands(chr, {{ f.seqlen }}, getBands(chr))
	{% endfor %}

	var dilCvterms = [];
	{% for term in cvtermDIL %}
       	dilCvterms.push({ type_id: "{{ term.cvterm_id }}", name: "{{ term.name }}"});
    {% endfor %}

    // add disease buttons
    diseases.addDiseaseButtons("{{org}}", dilCvterms, residues);
       
    // disease regions
    diseases.diseaseButtonClick("Type 1 Diabetes", 'T1D', "blue", "{{org}}", residues);

	function getBands(chr) {
  		var bands = [];
  		{% for floc in bands %}
		    var src = "{{ floc.srcfeature.uniquename }}";
		    if(src === chr) {
		    	var seqlen = {{ floc.fmax }} - {{ floc.fmin }} + 1;
		    	var colour = cytobands.col.{{ floc.feature.type }};
		    	var band = { seqlen:seqlen, fmin:{{ floc.fmin }}, fmax: {{ floc.fmax }}, col: colour };
	    		bands.push(band);
	   		}
		{% endfor %}
		return bands;
	}
});    
</script>

{% endblock %}

{% block content %}


<div id="diseases" class="btn-group btn-group-xs pull-right" role="group" style="margin: 0px;"></div>
<h3 style="margin: 0px">{{ org }}</h3>
<div id="chart" class="row" style="margin: 0px"></div>
{% endblock %}
