{% extends "base.html" %}
{% block header %}
<script language="text/javascript" type="text/javascript" src="/static/js/tree.js"></script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>

<script language="javascript" type="text/javascript">
$(document).ready(function(){
	$( "#tree" ).on("mouseover", "li.bare", function() {
		var id = $(this).attr('id');
		var url = '/api/dev/cvterm/?limit=100&format=json&is_obsolete=0&cv=' +id;
		//var url = '/api/cvterm/?format=json&limit=100';
		//var data = JSON.stringify({ "cv": "/api/cv/"+id+"/", "is_obsolete": "0" });
		$(this).removeClass("bare");

		//console.log(url);
		$.ajax({
			type: 'GET',
			//data: data,
			url: url,
			processData: false,
			contentType: "application/json",
			success: function(response){
				$.each( response.objects, function( key, cvterm ) {
				    $( "#cv"+id ).append('<li title="'+cvterm.definition+'"><i class="fa-li fa fa-file"></i>'+cvterm.name+'</li>');
				});
				$( "#cv"+id ).hide();
			}
		});
	});
	$( "#tree" ).tree({'color':'#801515'});
});	
</script>
{% endblock %}

{% block content %}
{% if cv_list %}
<h2>Controlled Vocabulary</h2>
<ul id="tree" class="fa-ul">
    {% for cv in cv_list %}
        <li id="{{ cv.cv_id }}" class="bare"><i class="fa-li fa fa-folder"></i>
          {{ cv.name }} ( 
             <a href="/api/dev/cvterm/?limit=500&format=json&is_obsolete=0&cv={{ cv.cv_id }}" target="_blank">json <i class="fa fa-external-link"></i></a>)
          <ul id="cv{{ cv.cv_id }}" class="fa-ul"></ul>
        </li>
    {% endfor %}
</ul>
{% else %}
    <p>No CV terms are available.</p>
{% endif %}
{% endblock %}
