{% extends "base.html" %}
{% load gene_tags %}

{% block content %}

{% if data %}
  	<h3>Region: {{ data.0.id }}</h3>
  	<div class="table-responsive">
	<table class="table table-striped table-condensed">
		<tr><td>Chromosome </td><td>{{ data.0.seqid }}</td></tr>
		<tr><td>Position</td><td>{{ data.0.start }}-{{ data.0.end }}</td></tr>
		<tr><td>Name</td><td>{{ data.0.attr.Name }}</td></tr>
		<tr><td>Region ID</td><td>{{ data.0.attr.region_id }}</td></tr>
		<tr><td>Disease</td><td>{{ data.0.attr.disease_code | upper }}</td></tr>
{% comment %}	
		<tr><td>Info</td><td>
		{% for att_key,att_value in data.0.attr.items %}
			 {{ att_key }} {{ att_value }}  <br>
		
		{% endfor %}
		</td></tr>
{% endcomment %}
		
	</table>
	</div>

	

<h3>Overlapping Gene(s)</h3>

    {% show_es_gene_section seqid=data.0.seqid start_pos=data.0.start end_pos=data.0.end %}


{% else %}
    <p>No search results.</p>
{% endif %}

{% endblock %}