{% extends "base.html" %}
{% load gene_tags %}

{% block content %}

{% if data %}
  	<h3>Marker: {{ data.0.id }}</h3>
  	<div class="table-responsive">
	<table class="table table-striped table-condensed">
		<tr><td>Chromosome </td><td>{{ data.0.src }}</td></tr>
		<tr><td>Position</td><td>{{ data.0.pos }}</td></tr>
		<tr><td>Reference</td><td>{{ data.0.ref }}</td></tr>
		<tr><td>Alternative</td><td>{{ data.0.alt }}</td></tr>
		{% if data.0.VC %}
			<tr><td>Variant Class</td><td>{{ data.0.VC }}</td></tr>
		{% endif %}
		<tr><td>Info</td><td>
		{% for key, value in data.0.items %}
			{% if key != 'id' and key != 'src' and key != 'pos' and key != 'ref' and key != 'alt' and key != 'info' and key != 'vc' %}
				{{ key }} {% if value %}: {{ value }}{% endif %}<br>
			{% endif %}
		{% endfor %}
		</td></tr>
	</table>
	</div>

	<h3>Overlapping Gene(s)</h3>
	{% show_es_gene_section seqid=data.0.src start_pos=data.0.pos %}

{% else %}
    <p>No search results.</p>
{% endif %}

{% endblock %}